---
import FaqItem from "./FaqItem.astro";
---

<section class="faq-content">
  <FaqItem />
</section>

<style>
  .faq-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
