---

---

<footer>
  <div class="footer-content">
    <div class="footer-icons">
      <a href="mailto:linhadechegada@ufc.br" aria-label="E-mail">
        <i class="fas fa-envelope"></i>
      </a>
      <a
        href="https://www.instagram.com/projetolinhadechegadaufc/"
        target="_blank"
        aria-label="Instagram"
      >
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="footer-text">
      <p>Email: linhadechegada@ufc.br</p>
      <p>Instagram: @projetolinhadechegadaufc</p>
    </div>
  </div>
</footer>
<style>
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }

  footer a {
    color: #fff;
    margin: 0 1rem;
    font-size: 1.5rem; /* Tamanho do ícone */
    text-decoration: none;
    transition: color 0.3s ease;
  }

  footer a:hover {
    color: #007bff; /* Cor ao passar o mouse */
  }

  footer div {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
</style>
